[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "libraries/twitter-bootstrap"]
	path = libraries/twitter-bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "libraries/underscore"]
	path = libraries/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "libraries/backbone"]
	path = libraries/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "libraries/require"]
	path = libraries/require
	url = https://github.com/jrburke/requirejs.git
