/* Override some defaults based on Bootstrap Container demo */
html, body {
    background-color: #eee;
}
.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

.ui-floating-panel {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 20;
}
.ui-floating-panel.orientation-right {
    float: right;
}
.workflow-editor .toolbar {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.workflow-editor .ui-grid-panel {
    height: 350px;
    position: relative;
    z-index: 1;
}
.workflow-editor .ui-grid-panel .ui-grid-item {
    position: absolute;
    cursor: pointer;
}

.workflow-editor .ui-grid-panel .overlay {
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.workflow-editor .canvas .ui-grid-item .place {
    margin-left: -16px;
    width: 32px;
    margin-top: -16px;
    height: 32px;
    background-color: red;
    font-color: white;
}

.workflow-editor .canvas .ui-grid-item .transition {
    margin-left: -16px;
    width: 32px;
    margin-top: -16px;
    height: 32px;
    background-color: green;
    font-color: white;
}

.workflow-editor .canvas .ui-grid-item p.title {
    position: relative;
    top: -24px;
    margin-left: -48px;
    width: 128px;
    text-align: center;
    min-height: 1px;
}

.workflow-editor .canvas .ui-grid-item.line {
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    height: 3px;
    background: black;
    z-index: -1;
}

.workflow-editor .ui-floating-panel {
    margin: 16px 16px 0 0;
    background-color: white;
}

.workflow-editor .ui-floating-panel form,
.workflow-editor .ui-floating-panel .form-actions {
    margin: 0;
}
